@font-face {
  font-family: "PPNeueMontreal";
  src: url(PPNeueMontreal-Medium.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PPNeueMontreal", Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 10vh;
  padding: 0 3%;
}
.header-left {
  width: 10%;
}
.hamburger {
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.hamburger .line {
  height: 4px;
  border-radius: 4px;
  width: 100%;
  background-color: black;
  transition: 0.3s ease;
}

.hamburger .line:nth-child(2) {
  width: 75%;
}
.hamburger .line:nth-child(3) {
  width: 50%;
}
.hamburger:hover .line:nth-child(2),
.hamburger:hover .line:nth-child(3) {
  width: 100%;
}

.cross {
  top: 4vh;
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.cross .line {
  height: 3px;
  width: 25px;
  border-radius: 4px;
  background-color: black;
  position: absolute;
  transform: rotateZ(45deg);
}
.cross .line:nth-child(1) {
  position: absolute;
  transform: rotateZ(45deg);
}
.cross .line:nth-child(2) {
  position: absolute;
  transform: rotateZ(-45deg);
}
nav {
  padding: 5vh 0;
  background-color: white;
  position: absolute;
  height: 100vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: -10%;
  transition: 0.3s ease;
  border: 1px solid black;
}
nav.active {
  left: 0;
}
nav ul {
  margin-left: 5%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
nav ul li a {
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.2s ease;
}
nav ul li a:hover {
  color: rgb(194, 194, 194);
}
.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
  height: 90vh;
  position: relative;
}

.home .left {
  padding-left: 5%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 60%;
  height: 90%;
}

.home .left h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.home .left p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home .buy-button {
  font-size: 1rem;
  padding: 10px 20px;
  width: 15rem;
  background: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease;
}

.home .buy-button:hover {
  background: transparent;
  color: black;
}

.home .right {
  margin-right: 5%;
  width: 35%;
  height: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}

.home .right img {
  max-width: 100%;
  height: auto;
}

.carousel-controls {
  left: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-footer {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 10%;
}
.carousel-controls button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.carousel-controls button:hover {
  color: rgb(194, 194, 194);
}

#carousel-index {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer {
  background: black;
  color: #fff;
  text-align: center;
  padding: 2% 15%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
.footer-nav a {
  color: #000000;
  text-decoration: none;
}
.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-contact p {
  margin: 5px 0;
}
.footer-contact a {
  color: #fff;
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 14px;
}
.header-buttons {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
.header-buttons button {
  margin-left: 10px;

  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2rem;
  transition: 0.2s ease;
}
.header-buttons button:hover {
  color: rgb(194, 194, 194);
}

.login-form {
  padding: 10%;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.login-form h2 {
  margin-bottom: 10px;
}
#login-form,
#register-form {
  height: 90vh;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.login-form button,
.login-form input {
  width: 30vw;
  padding: 15px;
  border: 1px solid #000000;
}
.login-form button {
  cursor: pointer;
}
.login-form button {
  background-color: #000000;
  font-size: 1rem;
  font-size: 500;
  color: white;
}
.login-form h3 {
  margin-top: 20px;
}
.hidden {
  display: none;
}

#produkty {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  position: relative;
}
.produkty-header {
  display: flex;
  height: 10%;
  width: 100%;
}
.produkty-header h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}
#product-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  position: relative;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product {
  padding: 2%;
  height: calc((100vw / 3) - 40px);
  display: flex;
  flex-direction: column;
  width: calc((100vw / 3) - 40px);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #ececec;
}

.product-info {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.add-to-cart {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000000;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease;
}
.add-to-cart:hover {
  background: transparent;
  color: black;
}

.product img {
  width: 80%;
  height: auto;
}

.product.highlight {
  animation: highlight 1.5s ease;
}

@keyframes highlight {
  0% {
    border: 3px solid black;
  }
  100% {
    border: 3px solid transparent;
  }
}

.product-button {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.product-button:hover {
  color: rgb(194, 194, 194);
}
#contact {
  height: 90vh;
  display: flex;
  padding: 5%;
  width: 100%;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-el {
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 100px;
  margin-bottom: 25px;
}
.contact-icon {
  margin-right: 20px;
}
.contact-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: left;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 40px;
}
#contact-title {
  font-size: 80px;
}
#contact-wiad-container {
  display: flex;
  background-color: white;
  width: 50%;
  justify-items: center;
  align-items: center;
}
#contact-wiad {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  justify-items: center;
}
.wiad-label {
  color: black;
  font-size: 40px;
}
.wiad-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  height: 30%;
  font-size: 25px;
}
.form-group {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
#wiad-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
  height: 50%;
  font-size: 30px;
  border: 1px solid black;
}
#wiad-button:hover {
  background: transparent;
  color: black;
}
.wiad-input:focus {
  outline: none;
}
.about-us {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
#about-title {
  font-size: 100px;
  width: 100%;
  text-align: center;
}
.about-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(0, 0, 0);
  padding-left: 40px;
}
.about-text {
  text-align: center;
  width: 100%;
  padding: 5%;
  font-size: 30px;
}
.about-img {
  width: 90%;
}

#cart {
  z-index: 1;
  position: fixed;
  top: 100px;
  right: 50px;
  width: auto;
  background: white;
  padding: 20px;
  border: 2px solid #000000;
}
#cart h2 {
  margin-bottom: 20px;
}

#cart-items {
  list-style: none;
  margin-bottom: 20px;
}

#checkout-btn {
  font-size: 1rem;
  padding: 10px 0;
  width: 100%;
  background: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease;
}

#checkout-btn:hover {
  background: transparent;
  color: black;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.decrease-qty,
.increase-qty {
  width: 30px;
  height: 20px;
  background: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease;
}

.remove-from-cart {
  width: 60px;
  background: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.remove-from-cart:hover,
.decrease-qty:hover,
.increase-qty:hover {
  background: transparent;
  color: black;
}
#checkout-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout {
  padding: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.checkout h3 {
  margin-top: 20px;
}
.checkout h1 {
  margin-bottom: 20px;
}
#order-summary {
  list-style: none;
  margin-bottom: 20px;
}
#order-form h4 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
#order-form div {
  display: flex;
  gap: 10px;
}
#order-form .personal-data input {
  width: calc((100% / 3) - 30px);
  padding: 5px 10px;
  border: 1px solid black;
}

#order-form .shipping-data input {
  width: calc((100% / 2) - 20px);
  padding: 5px 10px;
  border: 1px solid black;
}

#order-form button {
  margin-top: 30px;
  font-size: 1rem;
  padding: 10px 0;
  width: 100%;
  background: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s ease;
}

.main-product {
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 10%;
}

.product-left {
  width: 60%;
}

.product-left h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.product-left ul {
  list-style: none;
  margin-right: 10%;
  font-size: 1rem;
}
.product-left ul li {
  margin-bottom: 10px;
}
.product-right {
  width: 40%;
  display: flex;
  align-items: center;
}
.product-right img {
  width: 100%;
}
